@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(pink, skyblue, green);
    color: #fff;
    line-height: 1.6;
}
.logo{
    font-size: 1.5rem;
    color: orange;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    border: none;
    box-shadow: none;
    animation: fade-in 2s ease-in-out forwards;
    margin-top: auto;
    flex: 2;

}
.logo:hover{
   transform: scale(1.1);
}

header {
    background-color: rgb(8, 73, 134);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header ul {
    display: flex;
    justify-content: right;
    list-style: none;
    border-bottom: 3px solid transparent;
}

header ul li {
    margin: 0 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: orange;
}
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin-top: 100px;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    background-color:transparent;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 80%;
}

.about-content {
    flex: 1;
    padding: 40px;
    color: #e0e0e0;
}

.about-title {
    color: #ff4b5c;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1rem;
    line-height: 1.8;
    color: white;
}

.about-images {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    height: 80%;
}

.image-container {
    display: grid;
    flex-direction: row;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

}
.image-container img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    border: 3px solid #ff4b5c;
    animation: fadeIn 2s ease-in-out;
    object-fit: cover;
    height: 200px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}