body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    color: #fff;
    background-image: url(mark.jpeg);
    background-size: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: rgba(160, 17, 204, 0.438);
    margin-bottom: 20px;
}

form {
    background-color:transparent;
    padding: 30px;
    border-radius: 50px;
    width: 300px;
    box-shadow: 0 0 20px skyblue;
    color: pink;
}

label {
    font-size: 16px;
    margin: 10px 0 15px;
    display: block;
    text-align: left;
    color: rgb(16, 185, 16);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 40px;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}
.background-img{
    width: 100%;
    padding: 10px;
    display: flex;
}

#error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
}
